<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="author" value="Guru99" />
<parameter name="searchKey" value="India" />
  <test name="Test">
  <parameter name="searchKey" value="UK" />
    <classes>
      <class name="com.reyaz.testng.NoParameterWithTestNGXML"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
